In [198]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
import os
from sklearn.preprocessing import MinMaxScaler
from sklearn.utils import shuffle
from sklearn.metrics import accuracy_score

train_set = pd.read_csv('PM25_train.csv')
test_set = pd.read_csv('PM25_test.csv')

In [199]:
id_train = train_set.device_id
id_test = test_set.device_id
#class_train = train_set.iloc[:,3]

In [200]:
'''
class_train = class_train.to_frame()
class_train.columns = ['PM2.5']
'''

"\nclass_train = class_train.to_frame()\nclass_train.columns = ['PM2.5']\n"

In [201]:
train_set = train_set.groupby(['device_id','Date']).mean()
test_set = test_set.groupby(['device_id','Date']).mean()

In [202]:
train_set.head()

                             PM2.5  Temperature   Humidity     lat      lon
device_id    Date
28C2DDDD415C 2017-01-01  17.197279    26.624762  73.476190  23.741  120.755
             2017-01-02  33.263158    25.061421  81.178947  23.741  120.755
             2017-01-03  27.547945    24.579315  93.993151  23.741  120.755
             2017-01-04  17.487310    26.476548  85.685279  23.741  120.755
             2017-01-05  53.893401    26.106142  83.796954  23.741  120.755

In [203]:
test_set.head()

                         Temperature   Humidity     lat      lon
device_id    Date
28C2DDDD415C 2017-01-31    19.915289  88.488889  23.741  120.755
28C2DDDD47BC 2017-01-31    20.045912  84.408840  24.179  120.601
74DA3895C1F8 2017-01-31    22.770068  69.763514  24.149  120.681
74DA3895C1FA 2017-01-31    20.690185  76.685185  24.188  120.595
74DA3895C200 2017-01-31    21.660410  72.221311  24.138  120.673

In [204]:
train_set.shape

(7214, 5)

In [205]:
class_train = train_set.iloc[:,0]
class_train = class_train.to_frame()
class_train.columns = ['PM2.5']

In [206]:
class_train.head()

                             PM2.5
device_id    Date
28C2DDDD415C 2017-01-01  17.197279
             2017-01-02  33.263158
             2017-01-03  27.547945
             2017-01-04  17.487310
             2017-01-05  53.893401

In [207]:
train_set.head()

                             PM2.5  Temperature   Humidity     lat      lon
device_id    Date
28C2DDDD415C 2017-01-01  17.197279    26.624762  73.476190  23.741  120.755
             2017-01-02  33.263158    25.061421  81.178947  23.741  120.755
             2017-01-03  27.547945    24.579315  93.993151  23.741  120.755
             2017-01-04  17.487310    26.476548  85.685279  23.741  120.755
             2017-01-05  53.893401    26.106142  83.796954  23.741  120.755

In [208]:
#drop
train_set.drop(['PM2.5'], axis=1, inplace=True)
#merge = pd.concat([new_train_set,new_test_set], axis=0)
#merge.reset_index(drop=True).head();
train_set.reset_index(drop=True).head();
test_set.reset_index(drop=True).head();

merge = pd.concat([train_set, test_set], axis=0)
#merge=merge.drop(['Date'],axis=1)
merge.reset_index(drop=True).head();

In [209]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
new_lat = le.fit_transform(merge.lat)
merge.lat = new_lat
new_lon = le.fit_transform(merge.lon)
merge.lon = new_lon

In [210]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
merge['lat'] = scaler.fit_transform(merge['lat'].values.reshape(-1,1))
merge['lon'] = scaler.fit_transform(merge['lon'].values.reshape(-1,1))

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [211]:
train_set, test_set = np.split(merge,[7214], axis=0)

In [219]:
train_set

                         Temperature   Humidity       lat       lon
device_id    Date
28C2DDDD415C 2017-01-01    26.624762  73.476190  0.002152  0.884557
             2017-01-02    25.061421  81.178947  0.002152  0.886828
             2017-01-03    24.579315  93.993151  0.002152  0.884557
             2017-01-04    26.476548  85.685279  0.002152  0.887964
             2017-01-05    26.106142  83.796954  0.002152  0.887964
             2017-01-06    26.390674  87.320225  0.002152  0.885693
             2017-01-07    26.400733  90.366492  0.002152  0.887207
             2017-01-08    23.772346  85.283951  0.002152  0.884936
             2017-01-09    22.189397  76.391960  0.002152  0.887964
             2017-01-10    22.862408  70.109948  0.002152  0.887207
             2017-01-11    23.358148  81.264550  0.002152  0.886828
             2017-01-12    23.908249  90.768362  0.002152  0.885314
             2017-01-13    20.482857  91.538462  0.002152  0.886071
             2017-01-14    18.279643  89.392857  0.002152  0.887585
             2017-01-15    18.327541  87.956284  0.002152  0.886450
             2017-01-16    19.060055  86.038462  0.002152  0.886071
             2017-01-17    22.414876  80.661692  0.002152  0.888342
             2017-01-18    23.606392  88.541237  0.002152  0.887585
             2017-01-19    23.164627  90.472637  0.002152  0.888342
             2017-01-20    18.844757  78.897297  0.002152  0.886450
             2017-01-21    18.556238  72.257426  0.002152  0.888342
             2017-01-22    18.977336  62.546729  0.002152  0.889099
             2017-01-23    18.541950  64.275000  0.002152  0.888342
             2017-01-24    18.432673  80.520737  0.002152  0.889478
             2017-01-25    19.180287  83.966507  0.002152  0.888721
             2017-01-26    20.011157  74.282407  0.002152  0.889478
             2017-01-27    21.839864  78.737557  0.002152  0.889856
             2017-01-28    23.388834  86.394619  0.002152  0.889856
             2017-01-29    24.250310  84.292035  0.002152  0.890235
             2017-01-30    21.476415  90.490566  0.002152  0.888721
...                              ...        ...       ...       ...
74DA3895E0E0 2017-01-26    22.092009  60.572052  0.635816  0.091976
             2017-01-27    23.214524  62.333333  0.637538  0.090462
             2017-01-28    24.153380  67.751174  0.637107  0.090840
             2017-01-29    26.541435  67.308696  0.635816  0.091976
             2017-01-30    25.838935  62.995370  0.636677  0.091219
74DA3895E0E2 2017-01-01    23.778058  82.021583  0.885062  0.761166
             2017-01-02    22.832273  88.075758  0.887645  0.760409
             2017-01-03    23.246383  85.347518  0.885062  0.761166
             2017-01-04    23.370524  86.041885  0.886784  0.760409
             2017-01-05    23.081867  89.403614  0.883341  0.760787
             2017-01-06    23.383171  87.458537  0.888937  0.760409
             2017-01-07    24.268652  86.567416  0.885493  0.760787
             2017-01-09    18.148000  79.600000  0.889367  0.762680
             2017-01-10    20.199832  76.754190  0.885493  0.760787
             2017-01-11    21.646236  77.859551  0.885493  0.760787
             2017-01-12    22.239176  87.511765  0.883771  0.760787
             2017-01-13    19.439521  90.541096  0.884632  0.761166
             2017-01-14    17.171702  86.872340  0.889367  0.762301
             2017-01-15    16.461667  89.340278  0.884632  0.761166
             2017-01-18    21.153030  92.393939  0.888076  0.763058
             2017-01-19    22.190718  88.668508  0.885923  0.760787
             2017-01-20    17.358889  84.862745  0.884201  0.761166
             2017-01-21    16.203583  79.438503  0.886354  0.760409
             2017-01-22    17.168622  73.551020  0.887215  0.760409
             2017-01-23    14.685000  78.750000  0.889367  0.762680
             2017-01-26    21.207353  68.892157  0.888506  0.761923
             2017-01-27    19.860324  77.333333  0.889798  0.760409
             2017-01-28    21.481148  76.990431  0.889367  0.760409
             2017-01-29    23.637818  77.513636  0.890228  0.760409
             2017-01-30    23.116313  75.170507  0.889798  0.760409

[7214 rows x 4 columns]

In [212]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(train_set, class_train, test_size=0.2, random_state= 12, shuffle=False)
print(X_train.shape,X_valid.shape)
print(y_train.shape,y_valid.shape)

(5771, 4) (1443, 4)
(5771, 1) (1443, 1)

In [213]:
from sklearn.linear_model import LinearRegression #選擇模型
from sklearn import metrics

model1 = LinearRegression()#建立模型
model1.fit(X_train,y_train)#訓練模型
print('train evaluation :')
pred = model1.predict(X_valid)#模型預測
print('R2 score:%.2f' %metrics.r2_score(y_valid, pred))

train evaluation :
R2 score:0.21

In [214]:
from sklearn.linear_model import Lasso,Ridge

model4 = Lasso(alpha = 0.01)
model4.fit(X_train,y_train)
pred = model4.predict(X_valid)
print('train evaluation :')
print('R2 score:%.2f'%metrics.r2_score(y_valid, pred))

train evaluation :
R2 score:0.21

In [215]:
model5 = Ridge(alpha = 0.01)
model5.fit(X_train,y_train)
pred = model5.predict(X_valid)
print('train evaluation :')
print('R2 score:%.2f'%metrics.r2_score(y_valid, pred))
#使用ridge驗證

train evaluation :
R2 score:0.21

In [220]:
example = pd.read_csv("submission.csv")
id_sub = example.device_id
#the_better_testing = scaler.fit_transform(test_set)
result = model4.predict(test_set)

In [221]:
pm25_result = pd.concat([id_sub, pd.Series(result)], axis=1)
a = pm25_result.groupby(['device_id']).mean()
b = np.around(a.values, decimals=2)  #四捨五入 取道小數點下第二位
b = pd.DataFrame(b)

In [222]:
submit.to_csv('Result_ML.csv', index=False)

In [223]:
submit

        device_id  pred_pm25
0    28C2DDDD415C      38.88
1    28C2DDDD47BC      36.51
2    74DA3895C1F8      35.95
3    74DA3895C1FA      34.59
4    74DA3895C200      35.21
5    74DA3895C20A      35.90
6    74DA3895C20C      34.38
7    74DA3895C210      34.76
8    74DA3895C212      36.76
9    74DA3895C214      36.41
10   74DA3895C216      35.08
11   74DA3895C218      39.44
12   74DA3895C21E      31.56
13   74DA3895C222      33.82
14   74DA3895C224      44.18
15   74DA3895C226      37.21
16   74DA3895C228      37.13
17   74DA3895C22A      31.63
18   74DA3895C230      35.71
19   74DA3895C232      36.49
20   74DA3895C234      39.63
21   74DA3895C23E      42.55
22   74DA3895C240      33.48
23   74DA3895C246      42.56
24   74DA3895C248      39.61
25   74DA3895C24A      42.60
26   74DA3895C24C      31.60
27   74DA3895C24E      32.17
28   74DA3895C250      35.46
29   74DA3895C252      34.26
..            ...        ...
222  74DA3895C5D0      39.81
223  74DA3895C5D2      36.37
224  74DA3895C5D8      35.57
225  74DA3895C5DC      36.22
226  74DA3895C5DE      35.35
227  74DA3895DF9E      31.73
228  74DA3895DFA4      38.33
229  74DA3895DFA6      30.08
230  74DA3895DFB4      39.36
231  74DA3895DFB6      37.88
232  74DA3895DFC4      36.10
233  74DA3895DFC6      36.70
234  74DA3895DFC8      41.42
235  74DA3895DFCC      41.17
236  74DA3895DFD0      38.20
237  74DA3895E06E      33.04
238  74DA3895E070      36.58
239  74DA3895E074      37.52
240  74DA3895E076      39.28
241  74DA3895E078      39.88
242  74DA3895E0A4      35.68
243  74DA3895E0A8      32.29
244  74DA3895E0AC      33.48
245  74DA3895E0AE      39.35
246  74DA3895E0B0      35.59
247  74DA3895E0BE      34.85
248  74DA3895E0D0      40.45
249  74DA3895E0DC      37.83
250  74DA3895E0E0      34.52
251  74DA3895E0E2      31.73

[252 rows x 2 columns]